@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Canchas - Trabajo seguro para clientes y proveedores";
}
<script src="~/Scripts/Views/RegistroCancha.js"></script>

<form class="frmEdition" id="frmEdition">
    <div class="row form-group">
        <div class="col-md-12">
            <div class="bs-component">
                @Html.CtrlInput(id: "nombre", type: "email", label: "Nombre de usuario", columnDataName: "Fullname")
                @Html.CtrlInput(id: "telefono", type: "password", label: "Telefono", columnDataName: "Phone")
                @Html.CtrlInput(id: "correo", type: "email", label: "Correo electronico", columnDataName: "Email")
                @Html.CtrlInput(id: "fecha", type: "date", label: "Fecha reservacion", columnDataName: "DateTime")
            </div>
        </div>
    </div>
</form>
@Html.CtrlButton(viewName: "RegistroCancha", id: "btnLogin", label: "Iniciar sesión", onClickFunction: "Registro", buttonType: "primary")

